
body > table{
    width: 80%;
}

h1{
    color: #ddd;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    font-size: 2.5em;
}

.form{
    width: 450px;
}

table{
    border-collapse: collapse;
}

.container{
    margin: 0 auto;
}

table.list{
    width:900px;
    background-color: #fff;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select{
    font-family: "Poppins", sans-serif;
}

input[type=submit]{
    width: 100%;
    background-color: #033a3d;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

input[type=submit]:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.723);
    transition: 0.3s;
}

form div.form-action-button{
    text-align: right;
}

label{
    color: #ddd;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #000;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

.back{
    text-align: right;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
}

.back:hover{
    text-align: right;
    text-decoration: underline;
    text-shadow: 0 0 20px #fff;
    transition: 0.5s;
}

.columnTitle{
    background-color: #000;
    color: #ddd;
    border-color: #000;
}